@use 'components' as *;
@use 'constants' as *;


.serif {
  font-family: $body-font;
}

.buttonStyle{
  border: 1;
        border-radius: 12;
        box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
        color: 'black';
        height: 12;
        max-width: 12;
        min-width:12;
        margin: 0px;
        padding: 0px;
        // size: 'small'
}

.popover_class{
  max-width: 500px;
  min-width: 500px;
  position: absolute;
  display: block;
  padding: 5px;
  margin: 5px;
  text-align: center;
  // overflow-x:visible !important; 
}

.topcontrols {
  @include containfloats;
}

// .chartContainer{
//   min-height: 500px;
// }

.inputgroup {
  height: 8rem;
  border: solid 1px $highlight3;
  border-radius: 2px;
  // margin: 0 0 1rem 0;
  padding: 0.5rem 0rem 0.5rem 1rem;
  height: fit-content;
  min-height: 162px;

  h3 {
    margin: 0 0 0.5rem 0;
    color: #dc1a55;       
    font-weight: 700;     
  }

  .inputitem {
    label {
      font-family: $headline-font;
      margin-left: 0.5rem;
      display: inline-block;
      font-weight: 400;   
      color: #000;      
    }

    input[type="radio"]:checked + label {
      font-weight: 800;  
    }
  }
}

.sidebar {
  width: 450px;
  margin-left: 1%;
}

.calc {
  width: 100%;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  
}

.tabPanel {
  padding-right: 1px;
  overflow-x: hidden;
}

.calcTitle{
  color: #dc1a55; 
}



@media (max-width: 699px)and (min-width: 250px) {
  h1 {
    font-size: 0.75rm;
  }
  



  .chartContainer {
    width: 100%;
    height: 500px;
    h1:first-of-type {
      color: #000;
    }
    .calcTitle{
      color: #dc1a55; 
    }
  }

  // .calc {
  //   width: 100%;
  //   display: inline-block;
  //   margin-right: 1%;
  //   margin-left: 1%;
  // }

  .inputgroup {
    height: 8rem;
    border: solid 1px $highlight3;
    border-radius: 2px;
    // margin: 0 0 1rem 0;
    padding: 0.5rem 0rem 0.5rem 1rem;
    height: fit-content;
    min-height: 60px;
    h3 {
      margin: 0 0 0.5rem 0;
      color: #dc1a55;       
      font-weight: 700;     
    }
  
    .inputitem {
      label {
        font-family: $headline-font;
        margin-left: 0.5rem;
        display: inline-block;
        font-weight: 400;   
        color: #000;      
      }
  
      input[type="radio"]:checked + label {
        font-weight: 800;  
      }
    }
  }


}


//important to change the outlet in ipad mini/air/pro layout
@media (min-width: 700px) and (min-height: 650px) {

  .calcTitle{
    color: #dc1a55; 
  }

  :global(#parentDiv) {
    display: flex;
    flex-direction: row-reverse;
  }

  .chartContainer {
    width: 100%;
    flex-grow: 2;
    h1:first-of-type {
      color: #000;
    }
    .calcTitle{
      color: #dc1a55; 
    }
  }

  // .calc {
  //   width: 100%;
  //   display: inline-block;
  // }

  // .calc1 {
  //   width: 32%;
  //   display: inline-block;
  //   margin-right: 1%;
  //   margin-left: 1%;
  // }
  .topcontrols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    
  }
  .inputgroup {
    height: 8rem;
    border: solid 1px $highlight3;
    border-radius: 2px;
    // margin: 0 0 1rem 0;
    padding: 0.5rem 0rem 0.5rem 1rem;
    height: fit-content;
    min-height: 135px;
  
    h3 {
      margin: 0 0 0.5rem 0;
      color: #dc1a55;      
      font-weight: 700;     
    }
  
    .inputitem {
      label {
        font-family: $headline-font;
        margin-left: 0.5rem;
        display: inline-block;
        font-weight: 400;   
        color: #000;      
      }
  
      input[type="radio"]:checked + label {
        font-weight: 800;  
      }
    }
  }


}

