@use 'components' as *;
@use 'constants' as *;

.topcontrols {
  @include containfloats;
}

// .chartContainer{
//   min-height: 500px;
// }

.inputgroup {
  height: 8rem;
  border: solid 1px $highlight3;
  border-radius: 2px;
  // margin: 0 0 1rem 0;
  padding: 0.5rem 0rem 0.5rem 1rem;

  h3 {
    margin: 0 0 0.5rem 0;
  }
  .inputitem {
    margin-bottom: 0.5rem;
    label {
      margin-left: 0.5rem;
    }
  }
}

.calc {
  width: 98%;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
}



@media (min-width: $breakpoint2) {
  .topcontrols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .calc {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
  }
}

@media (min-width: $breakpoint1) {
  .sidebar {
    position: absolute;
    // display: inline-block;
    right: 0;
    width: 350px;
    // height:600px;
  }
  .chartContainer {
    width: 70%;
    display: inline-block;
    // margin-right: 366px;
  }

  .calc {
    width: 31%;
    // display: "inline-block";
    // margin-right: "1%";
    // margin-left: "1%";
  }

  .calc1 {
    width: 32%;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
  }
}
