@use 'components' as *;
@use 'constants' as *;

.container {
  @include containfloats;
  white-space:pre-line;
}
.serif {
  font-family: $body-font;
}
.sansserif {
  font-family: $control-font;
}

label{
  white-space:pre-line;
  display: block;
  text-align: left;
  cursor: pointer !important;
}
.material {
  width: 15rem;
  display: inline-flex;
  float: left;
  margin: 0 1rem 1rem 0;
  cursor: pointer !important;
  word-wrap: break-word;
  // align-items: flex-start; 
  // justify-content: flex-start;
}
.materialGraphic {
  width: 15px; height: 15px;
  display: inline-block;
  margin-right: 0px;
  cursor: pointer !important;
}
.moreInforemationButton {
  font-family: raleway,sans-serif;
  background: none;
  border: none;
  padding: 0;
  margin-left: 1rem;
  // text-decoration: underline;
  cursor: pointer !important;
  :hover{
    transition: box-shadow 0.3s,background-size 0.3s;
    background: linear-gradient(to bottom,#ffd400,#ffd400) left 1em no-repeat;
    background-size: 100% 7px;
    // background-size: 0% 7px;
    border-bottom: 4px solid transparent;
  }
  *, :after, :before {
    box-sizing: inherit;
}
  
  // display: block;
}


.mLabel{
  white-space:pre-line;
  font-size: 13.5px;
  cursor: pointer !important;
  text-align: left;
}

.mButton{
  font-family: $body-font;
  font-size: 11px;
  text-decoration: underline;
  display: inline;
  width: 76px;
  height: 20px;
  margin-left: 12px;
  cursor: pointer !important;
}


.mainButton{
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2px;
}

.Text16{
  font-size: 16px;
}

.popImg{
  max-width: 45%;
  top: -70px;
  position: relative;
  float: right;
  object-fit: cover;
  display: block;
}

//important to change the outlet in ipad mini/air/pro material list layout
@media  (min-width: 700px) and (min-height: 700px)  {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    word-wrap: break-word;
  }

}

// @media (min-width: 700px) and (max-width: 1119px) {
//   .material {
//     width: inherit;
//     float: none;
//     margin: 0 0 1rem 0;
//     text-align: left;
//   }
//   .container {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
//     column-gap: 5px;
//     word-wrap: break-word;
//   }

//   label {
//     font-size: 0.75em; 
//   }

//   .mLabel {
//     font-size: 0.75em; 
//   }

//   .mainButton{
//     margin-top: 2px;
//     font-size: 0.75em;
//     border-radius: 5px;
//     padding: 5px;
//     margin-right: 2px;
//   }

//   .Text16{
//     font-size: 0.75em;
//   }

// }


@media (max-width: 699px) and (min-width: 250px){

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 10px;
    word-wrap: break-word;
  }
  .material {
    width: 7rem;
    display: inline-flex;
    float: left;
    margin: 0 1rem 1rem 0;
    cursor: pointer !important;
    word-wrap: break-word;
    // align-items: flex-start; 
    // justify-content: flex-start;
  }
  .materialGraphic {
    width: 7px; height: 7px;
    display: inline-block;
    margin-right: 0px;
    cursor: pointer !important;
  }
  .moreInforemationButton {
    font-family: raleway,sans-serif;
    background: none;
    border: none;
    padding: 0;
    margin-left: 1rem;
    // text-decoration: underline;
    cursor: pointer !important;
    :hover{
      transition: box-shadow 0.3s,background-size 0.3s;
      background: linear-gradient(to bottom,#ffd400,#ffd400) left 1em no-repeat;
      background-size: 100% 7px;
      // background-size: 0% 7px;
      border-bottom: 4px solid transparent;
    }
    *, :after, :before {
      box-sizing: inherit;
  }
  }
  
  label {
    font-size: 0.65em; 
  }

  .mLabel {
    font-size: 0.65em; 
  }

  .mButton{
    font-size: 0.65em;
    text-decoration: underline;
    display: inline;
    width: 76px;
    height: 14px;
    margin-left: 12px;
    cursor: pointer !important;
  }

  .styles.material .pretty .state label:before,
  .styles.material .pretty .state input:checked ~ label:before {
    width: 6px !important;
    height: 6px !important;
  }
  
  .mainButton{
    margin-top: 2px;
    font-size: 0.65em;
    border-radius: 5px;
    padding: 5px;
    margin-right: 2px;
  }

  .Text16{
    font-size: 0.65em;
  }

}

