@use 'components' as *;
@use 'constants' as *;

.container {
  font-family: $body-font;
  font-size: 16px;
  z-index: 0;
  // width: 50% !important;
}
.tooltipContainer {
  // border: solid 1px black;
  padding:15px;
  font-family: $headline-font;

  small {
    font-family: $body-font;
    // font-style: bold;
    vertical-align: middle;
    // text-transform: uppercase;
    bottom: 0px;
    font-size: 16px;
    
  }

  strong{
    font-size: 16px;
    padding-bottom: 1em;
  }
}

.imgText {
  // font-style: bold;
  // vertical-align: middle;
  // text-transform: uppercase;
  // top: 0px;
  font-size: 14px;
  font-family: $body-font;
  padding-right: 1em;
  
}

.myClass{
  font-family: $headline-font;
  font-weight: 600;
}

.groupLine {
  stroke: $highlight3;
}

.materialIcon {
  width: 150px; height: 150px;
  margin-bottom: 0.25rem;
  display: inline-block;
  
}


// div {
  // border: 3px solid #4CAF50;
  // padding: 5px;
// }

// .img1 {
//   float: right;
// }

.clearfix {
  overflow: hidden;
  margin-right: 10px;
  margin-top: 30px;
}

.img2 {
  width: 175px; height: 209px;
  margin-bottom: 0.25rem;
  // display: inline-block;
  float: right;
  top: 0px;
  overflow: hidden; 
}


