@use 'components' as *;
@use 'constants' as *;

.container {
  font-family: $control-font;
}
.tooltipContainer {
  border: solid 1px black;

  small {
    font-style: bold;
    letter-spacing: 0.3em;
  }
}
